.slider__title {
  text-align: center;
}

.slider__wrapper {
  position: relative;
}

.slider__items {
  position: relative;
  //height: 270px;
  overflow: hidden;

  &:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: $white url('../img/ajax-loader.gif') center no-repeat;
  }

  &.slick-initialized {
    overflow: visible;

    &:after {
      display: none;
    }
  }
}

.slider__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .1s linear;
}

.slider__text {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  z-index: 1;
  pointer-events: none;
  color: $white;
  transition: transform .2s linear;
  transform: translateX(100%);
}

.slider__item {
  position: relative;
  max-width: 540px;
  overflow: hidden;
  background-color: #000000;

  &:hover {
    .slider__img {
      opacity: .3;
    }

    .slider__text {
      transform: translateY(0);
    }
  }
}

.slider__link {
  display: block;
}

.slider__arrow-icon {
  width: 20px;
  height: 30px;
  fill: #c5c5c5;
  transition: fill .1s linear;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  padding: 0;
  z-index: 2;
  background: none;
  border: 0;
  cursor: pointer;

  &:hover {
    .slider__arrow-icon {
      fill: $pink;
    }
  }

  &:focus {
    outline: 0;
  }

  &--prev {
    left: -2rem;
    transform: translateY(-50%) rotate(180deg);
  }

  &--next {
    right: -2rem;
    transform: translateY(-50%);
  }
}

@media (max-width: 575.98px) {
  .slider__arrow {
    display: none;
  }
}
