<div class="slider">
  <div class="container">
    <h1 class="slider__title">Slick</h1>

    <div class="slider__wrapper">


        <div class="slider__items" id="slider">
            <div>
                <div class="slider__item">
                    <a class="slider__link" href="#" target="_blank">
                        <img class="slider__img" src="img/1.jpg" alt="">
                    </a>
                    <span class="slider__text">Сайт проекта CarTuning.pro</span>
                </div>
            </div>

            <div>
                <div class="slider__item">
                    <a class="slider__link" href="#" target="_blank">
                        <img class="slider__img" src="img/2.jpg" alt="">
                    </a>
                    <span class="slider__text">Сайт проекта CarTuning.pro</span>
                </div>
            </div>

            <div>
                <div class="slider__item">
                    <a class="slider__link" href="#" target="_blank">
                        <img class="slider__img" src="img/1.jpg" alt="">
                    </a>
                    <span class="slider__text">Сайт проекта CarTuning.pro</span>
                </div>
            </div>

            <div>
                <div class="slider__item">
                    <a class="slider__link" href="#" target="_blank">
                        <img class="slider__img" src="img/2.jpg" alt="">
                    </a>
                    <span class="slider__text">Сайт проекта CarTuning.pro</span>
                </div>
            </div>
        </div>

        <button class="slider__arrow  slider__arrow--prev" type="button" id="slider-arrow-prev">
            <svg class="slider__arrow-icon">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </button>

        <button class="slider__arrow  slider__arrow--next" type="button" id="slider-arrow-next">
            <svg class="slider__arrow-icon">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </button>

    </div><!-- /.slider__wrapper -->

</div><!-- /.container -->

</div>
